.button-primary {
  background: var(--gradient);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  text-transform: uppercase;
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}
.button-primary:hover {
  transform: scale(1.05);
}
