.search-field {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-family: inherit;
  color: inherit;
  font-size: 1.7rem;
  width: 30rem;
}
.search-input {
  background-color: #fff;
  border-radius: 10rem;
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  border: none;
}
.search-input:focus-within {
  transform: translateY(-2px);
  box-shadow: 0 0.7rem 3rem rgba(var(--color-grey-dark-1), 0.08);
}
.search-input:focus {
  outline: none;
}
.search-icon {
  width: 2rem;
  height: 2rem;
}
.button {
  margin-left: -5rem;
  z-index: 2;
}
